Main/Bsm/BsmBL/Service References/ExchangeService/ExchangeInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getEmpFullName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpFullNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmpFullNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpNumByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpNumByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmpNumByUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserPropertyByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserPropertyByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserPropertyByUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getEmpFullNameSoapIn">
    <wsdl:part name="parameters" element="tns:getEmpFullName" />
  </wsdl:message>
  <wsdl:message name="getEmpFullNameSoapOut">
    <wsdl:part name="parameters" element="tns:getEmpFullNameResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:getEmpNumByUserName" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:getEmpNumByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:getUserPropertyByUserName" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:getUserPropertyByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpFullNameHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEmpFullNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEmpFullNameHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEmpFullNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEmpNumByUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="propertyName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUserPropertyByUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ExchangeInfoServiceSoap">
    <wsdl:operation name="getEmpFullName">
      <wsdl:input message="tns:getEmpFullNameSoapIn" />
      <wsdl:output message="tns:getEmpFullNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <wsdl:input message="tns:getEmpNumByUserNameSoapIn" />
      <wsdl:output message="tns:getEmpNumByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <wsdl:input message="tns:getUserPropertyByUserNameSoapIn" />
      <wsdl:output message="tns:getUserPropertyByUserNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExchangeInfoServiceHttpGet">
    <wsdl:operation name="getEmpFullName">
      <wsdl:input message="tns:getEmpFullNameHttpGetIn" />
      <wsdl:output message="tns:getEmpFullNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <wsdl:input message="tns:getEmpNumByUserNameHttpGetIn" />
      <wsdl:output message="tns:getEmpNumByUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <wsdl:input message="tns:getUserPropertyByUserNameHttpGetIn" />
      <wsdl:output message="tns:getUserPropertyByUserNameHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExchangeInfoServiceHttpPost">
    <wsdl:operation name="getEmpFullName">
      <wsdl:input message="tns:getEmpFullNameHttpPostIn" />
      <wsdl:output message="tns:getEmpFullNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <wsdl:input message="tns:getEmpNumByUserNameHttpPostIn" />
      <wsdl:output message="tns:getEmpNumByUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <wsdl:input message="tns:getUserPropertyByUserNameHttpPostIn" />
      <wsdl:output message="tns:getUserPropertyByUserNameHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeInfoServiceSoap" type="tns:ExchangeInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmpFullName">
      <soap:operation soapAction="http://tempuri.org/getEmpFullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <soap:operation soapAction="http://tempuri.org/getEmpNumByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <soap:operation soapAction="http://tempuri.org/getUserPropertyByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeInfoServiceSoap12" type="tns:ExchangeInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmpFullName">
      <soap12:operation soapAction="http://tempuri.org/getEmpFullName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <soap12:operation soapAction="http://tempuri.org/getEmpNumByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <soap12:operation soapAction="http://tempuri.org/getUserPropertyByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeInfoServiceHttpGet" type="tns:ExchangeInfoServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getEmpFullName">
      <http:operation location="/getEmpFullName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <http:operation location="/getEmpNumByUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <http:operation location="/getUserPropertyByUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeInfoServiceHttpPost" type="tns:ExchangeInfoServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getEmpFullName">
      <http:operation location="/getEmpFullName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpNumByUserName">
      <http:operation location="/getEmpNumByUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPropertyByUserName">
      <http:operation location="/getUserPropertyByUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeInfoService">
    <wsdl:port name="ExchangeInfoServiceSoap" binding="tns:ExchangeInfoServiceSoap">
      <soap:address location="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeInfoServiceSoap12" binding="tns:ExchangeInfoServiceSoap12">
      <soap12:address location="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeInfoServiceHttpGet" binding="tns:ExchangeInfoServiceHttpGet">
      <http:address location="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeInfoServiceHttpPost" binding="tns:ExchangeInfoServiceHttpPost">
      <http:address location="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>